{# Zumeri Faton #}
{% extends 'base.html' %}
{% block title %}Produits{% endblock %}
{% load static %}

{% block content %}


<div class="row">

    {% for categ,_ in categorie %}
    <h3> {{ categ }} </h3>
    <hr>
    {% for p in produits %}
    {% if p.categorie == categ %}
    <div class="col-lg-4">
        {% if p.image%}
        <img class="thumbnail" src="{% static p.image.url %}" alt="img">
        {% endif %}
        <div class="box-element product">
            <h6><strong>{{ p.nom }}</strong></h6>
            <hr>
            <button id="produit - {{ p.id }}" data-produit="{{ p.id }}" data-action="add"
                    class="btn btn-outline-secondary add-btn update-cart btnConfirmerPanier">Ajouter au panier
            </button>
            <p id="{{ p.id }}"></p>
            <h4 style="display: inline-block; float: right">{{ p.prix_vente }}</h4>
        </div>
        </br></br>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>

<script>
    var listeBtn = document.getElementsByClassName('btnConfirmerPanier');   // recupere la liste des boutons
    // console.log(listeBtn);

    for (var i = 0; i < listeBtn.length; i++) {     // pour chaque boutons, je rajoute un evenement "click" pour confirmerAjout
        listeBtn[i].addEventListener('click', confirmerAjout);
    }

    function confirmerAjout(event) {
        var xhr = new XMLHttpRequest();  // objet qui contient les méthodes

        var btnProdId = event.target.id.substring(10)   // substring permet d'enlever les caractères précédents afin de récupérer l'id.
        console.log(btnProdId)

        xhr.open('GET', 'http://127.0.0.1:8000/produits/detailProd/' + btnProdId + '/', true); // prépare la requete. true renvoi la page de manière asynchrome.
        console.log()
        xhr.onload = function () {    // j'attribue à la méthode onload une fonction / onload récupere les données du serveur (views.py)
            if (this.status === 200) {   // vérifie si la page a bien été chargée
                var response = JSON.parse(this.responseText)  // récupere les informations du produits
                console.log(response)

                var show = '<table>'
                    + '<tr>'
                    + '<th>' + response.produitDico.nom + '</th>'
                    + '</tr>'
                    + '<tr>'
                    + '<th>' + response.produitDico.prix_vente + '</th>'
                    + '</tr>'
                    + '<tr>'
                    + '<th>' + response.produitDico.capacite + '</th>'
                    + '</tr>'
                    + '</table>';

                paragraphe = document.getElementById(btnProdId);
                paragraphe.innerHTML = show;
            }
        }
        xhr.send();
    }

</script>



<br><br>

{% endblock %}
