{#FERREIRA STOJKOVIC Nikola#}
{% extends 'base.html' %}
<script src="verifDate.js"></script>
{% block content %}

    <div class="row">
        <div class="col-sm-4">
            <h4 class="alert alert-info">Ajouter réservation</h4>
            <form action="{% url 'ajouter-reservation' %}" method="POST">
                {% csrf_token %}
                <div id="divForPopup" onclick=""></div>
                {{ form.as_p }}
                <input type="submit" class="btn btn-success" value="Ajouter réservation">
            </form>
        </div>
    </div>

<script>
    const popup = document.createElement('span');
    popup.setAttribute('class', 'popuperror');
    popup.setAttribute('id', 'id_popuperror');
    const texterror = document.createTextNode("La date entrée n'est pas valide !");
    document.getElementById('divForPopup').appendChild(popup);
</script>

{% endblock %}
