{#FERREIRA STOJKOVIC Nikola#}
{% extends 'base.html' %}
{% block extrahead %}

<link rel="stylesheet" href="popup.css">
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-sm-4">
        <h4 class="alert alert-info">Ajouter réservation</h4>
        <form action="{% url 'ajouter-reservation' %}" method="POST">
            {% csrf_token %}
            <div id="divForPopup" class="popup"></div>
            <br>
            {{ form.as_p }}
            <script>
                const popup = document.createElement("span"); //Dom création de l'héritage
                popup.setAttribute("class", "popuperror");
                popup.setAttribute("id", "id_popuperror");
                const messageError = document.createTextNode("La date entrée n'est pas valide !");
                document.getElementById("divForPopup").appendChild(popup);

                // popup.appendChild(messageError);
                function showPopup(event) {
                    popup.appendChild(messageError);
                    console.log(compareDate(getDateSelected("id_popuperror")));  // callback
                }

                var testId = document.getElementById("id_date");
                var dd = new Date().getDate();
                var mm = new Date().getMonth() + 1;
                var yyyy = new Date().getFullYear();
                var n = yyyy + '-' + mm + '-' + dd;
                testId.addEventListener("change", showPopup);

                function compareDate(b) {
                    if (testId.value < n) {
                        b.classList.toggle("show");
                    }
                }

                function getDateSelected(a) {
                    return document.getElementById(a);
                }
            </script>
            <input type="submit" class="btn btn-success" value="Ajouter réservation">
        </form>
    </div>
    <script src="verifDate.js"></script>
</div>


{% endblock %}





